*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header{
    background-color: rgb(77, 80, 238);
    padding: 10px 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    position:relative;
    margin: 0 10px;
}
nav ul li a{
    text-shadow: 1px 1px 2px #000000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav ul li a:hover{
    background-color: rgb(46, 82, 201);
    border-radius: 14px;
    box-shadow:  1px 1px 1px  #00000071;
    border-color: rgba(0, 0, 0, 0.205);
    border: solid;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:#291052;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
}
.dropdown-content li{
    margin: 0;
}
.dropdown-content li a{
    padding: 10px;
    color: white;
    text-align: left;
}

.dropdown-content li a:hover{
    background-color: #8962f3;
}

.dropdown:hover .dropdown-content{
    display: block;
}
main{
    padding: 20px;
    text-align: center;
}

main h1{
    font-size: 36px;
    margin-bottom: 20px;

}
main h2{

}
main img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}